.playlist {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

  .thumb {
    height: 150px;
    margin-right: -90px;
    min-height: 150px;
    min-width: 266px;
    // background-color: #e1e1e1;
    width: fit-content;
    // flex: 1;
    img {
      height: 100%;
    }
    span {
      position: relative;
      bottom: 10px;
      right: 40px;
      background-color: #333;
      color: #fff;
      padding: 2px 6px;
      font-size: 12px;
      font-weight: 400;
    }
  }
  .details {
    flex: 1;
    display: flex;
    flex-direction: column;
    h3 {
      color: #333;
      font-size: 16px;
      font-weight: 400;
      max-width: 80%;
    }
    h3.phone {
      display: none;
    }
    ul.info li {
      list-style: none;
      display: inline;
      font-size: 10px;
      margin-right: 5px;
      color: #777;
      font-weight: 300;
    }
    p {
      margin-top: 10px;
      font-size: 14px;
      color: #666;
      font-weight: 300;
      max-width: 80%;
      line-height: 1.2rem;
    }
  }
}

@media (max-width: 767px) {
  .thumb {
    height: 75px !important;
    min-height: 75px !important;
    min-width: 130px !important;
  }
  .details {
    h3.phone {
      font-size: 11px !important;
      display: block !important;
      max-width: 100% !important;
    }
    h3.web {
      display: none;
    }
  }
  .description {
    display: none;
  }
  .hover {
    background-color: #333;
    height: 75px !important;
    width: 100px !important;
    h3 {
      color: #fff;
      justify-self: center;
      align-self: center;
      font-size: 12px;
    }
  }
}

.hover {
  background-color: #333;
  height: 150px;
  width: 100px;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
  opacity: 0.8;
  right: 10px;
  h3 {
    color: #fff;
    justify-self: center;
    align-self: center;
  }
}
