.loader {
  max-width: 500px;
  padding-top: 50px;
}
.content {
  display: flex;
  flex: 1;
  min-height: 100%;
  flex-direction: column;
}
@media (min-width: 768px) {
  .content {
    padding-top: 61px;
  }
}

@media (max-width: 767px) {
  .body {
    background-color: #fff;
    margin: 0 10px 0 10px;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    min-height: 500px;
  }
}
